<div id="body" class="bodyview">
    <div class="body-item">
        <ul id="index" class="index-list"></ul>
    </div>
    <div id="brand" class="body-item brand">
        <div class="brand-all">
            <div id="brand-indexes-scroller" class="brand-indexes-pack"></div>
            <div class="brand-items-pack"></div>
        </div>
        <ul class="brand-hot"></ul>
    </div>
    <div id="sort" class="body-item sort">
        <div class="sort-all">
            <div class="sort-indexes-pack"></div>
            <div class="sort-items-pack"></div>
        </div>
        <ul class="sort-hot"></ul>
    </div>
    <div id="article" class="body-item article"></div>
    <div id="proDetail" class="body-item proDetail"></div>
    <div id="productList" class="body-item productList"></div>
</div>