    <li>
        <header>
            <img src="<%=ua%>"/>
            <small><%=ue%></small>
            <span class="zan"><%=cn%></span>
        </header>
        <section>
            <p><%=ct%></p>
            <div>
                <img src="<%=il%>"/>
            </div>
        </section>
        <footer>
            <div class="date dataIcon"><%=ce1%></div>
            <ol>
                <%_.each(_.range(cs),function(){%>
                <li class="redStar"></li>
                <%});%>
            </ol>
        </footer>
    </li>