<ul class="index-title">
    <li>
        <a class="xinpinIcon" href="#sort">新品</a>
    </li>
    <li>
        <a class="mianmoIcon" href="#sort">面膜</a>
    </li>
    <li>
        <a class="jinghuaIcon" href="#sort">精华</a>
    </li>
    <li>
        <a class="yanshuangIcon" href="#sort">眼霜</a>
    </li>
    <li>
        <a class="meibaiIcon" href="#sort">美白</a>
    </li>
    <li>
        <a class="qudouIcon" href="#sort">祛痘</a>
    </li>
    <li>
        <a class="shoushenIcon" href="#sort">瘦身</a>
    </li>
    <li>
        <a class="moreIcon" href="#sort/all">更多</a>
    </li>
    <div class="clear"></div>
</ul>
