<ul class="index-title">
    <li>
        <a data-analy="Model{name:index-xinpin,actionType:tap}" class="xinpinIcon" href="#productList/s=新品&t=pswy">新品</a>
    </li>
    <li>
        <a data-analy="Model{name:index-mianmo,actionType:tap}" class="mianmoIcon" href="#productList/s=2068&t=pcdy">面膜</a>
    </li>
    <li>
        <a data-analy="Model{name:index-jinghua,actionType:tap}" class="jinghuaIcon" href="#productList/s=2072&t=pcdy">精华</a>
    </li>
    <li>
        <a data-analy="Model{name:index-yanshuang,actionType:tap}" class="yanshuangIcon" href="#productList/s=902&t=pcdy">眼霜</a>
    </li>
    <li>
        <a data-analy="Model{name:index-meibai,actionType:tap}" class="meibaiIcon" href="#productList/s=2488&t=pfdy">美白</a>
    </li>
    <li>
        <a data-analy="Model{name:index-qudou,actionType:tap}" class="qudouIcon" href="#productList/s=2556&t=pfdy">祛痘</a>
    </li>
    <li>
        <a data-analy="Model{name:index-shoushen,actionType:tap}" class="shoushenIcon" href="#productList/s=272&t=pfdy">瘦身</a>
    </li>
    <li>
        <a data-analy="Model{name:index-more,actionType:tap}" class="moreIcon" href="#sort/all">更多</a>
    </li>
    <div class="clear"></div>
</ul>
