<div id="navBar" class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="expand box orivc">
            <div class="box orihc">
                <h1>Title</h1>
            </div>
        </div>
        <div class="expand">
            <div id="menu" class="pull-left bar-btn menu-btn box orivc"></div>
            <div id="search" class="pull-right bar-btn search-btn box orivc"></div>
        </div>
    </div>
    <div id="navBody" class="nav-body">
        <div id="menuView"></div>
    </div>
</div>