<div id="navBar" class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <!--<div class="expand box orivc">-->
            <!--<div class="box orihc" data-title="1">-->
                <!--<h1>Title</h1>-->
            <!--</div>-->
        <!--</div>-->
        <h1 data-title="1">美丽闺蜜</h1>
        <div class="expand">
            <a href="javascript:void(0)" data-analy="Model{name:menu-btn,actionType:tap}" id="menu" class="pull-left bar-btn menu-btn box orivc"></a>
            <a href="javascript:void(0)" data-analy="Model{name:search-btn,actionType:tap}" id="search" class="pull-right bar-btn search-btn box orivc"></a>
        </div>
        <div class="brand-seg"></div>
        <div class="sort-seg"></div>
    </div>
    <div id="navBody" class="nav-body">
        <div id="menuView"></div>
    </div>
</div>