<div>
    <div id="proDetail-carousel" class="carousel">
        <div class="carousel-inner" style="width:<%=(iy.length)*220%>px">
            <%_.each(iy,function(item){%>
            <div class="item active">
                <img src="<%=item%>"/>
            </div>
            <%});%>
        </div>
    </div>
    <div class="data-grid">
        <div class="col">
            <div class="row">
                <div class="name"><%=i18n.level_txt%>: </div>
                <div class="value">
                    <ol>
                        <%_.each(_.range(pt),function(){%>
                        <li class="redStar"></li>
                        <%});%>
                    </ol>
                </div>
            </div>
            <div class="row">
                <div class="name"><%=i18n.listedTime%>: </div>
                <div class="value"><%=pk%></div>
            </div>
            <div class="row">
                <div class="name"><%=i18n.format%>: </div>
                <div class="value"><%=psy%></div>
            </div>
            <div class="row">
                <div class="name"><%=i18n.attrs%>: </div>
                <div class="value"><%=attr%></div>
            </div>
            <div class="row">
                <div class="name"><%=i18n.desc%>: </div>
                <div class="value"><%=po%></div>
            </div>
        </div>
    </div>
    <div class="split-line">
        <div class="txt pinglunicon"><%=i18n.gong%> <em style="color:red;"><%=pn%></em> <%=i18n.tiaopinglun%></div>
        <div class="line"></div>
    </div>
    <ul class="comment-list"></ul>
    <a data-analy='Model->{"name":"viewMoreComment"}'
       href="javascript:void(0)" class="view-more-comment"><%=i18n.viewMoreComments%></a>
    <div class="small-loading">
        <div class="loading-v">
            <div class="loading-h">
                <div class="loading-box"></div>
            </div>
        </div>
    </div>
</div>
