<ul>
    <%_.each(list,function(item){%>
    <li>
        <a data-analy='Model->{"name":"proDetail","data":{"proID":"<%=item.pd%>"}}'
           href="#proDetail/<%=item.pd%>">
            <img src="<%=item.il%>"/>
            <section>
                <h5><%=item.pe%></h5>
                <h6><%=item.psy%></h6>
                <div class="foot">
                    <ol>
                        <%_.each(_.range(item.pt),function(){%>
                        <li class="redStar"></li>
                        <%});%>
                        <%_.each(_.range(5-item.pt),function(){%>
                        <li class="grayStar"></li>
                        <%});%>
                    </ol>
                    <div style="-webkit-box-flex:1;"></div>
                    <span class="pinglunicon"><%=item.pn%></span>
                </div>
            </section>
        </a>
    </li>
    <%});%>
</ul>