<div class="navbar-inner">
    <div class="expand box orivc">
        <div class="box orihc">
            <h1>Title</h1>
        </div>
    </div>
    <div class="expand">
        <div id="menu" class="pull-left bar-btn box orivc" ng-controller="BarBtnCtrl">
            <div class="bar-btn-inner menu-btn box orihc"></div>
        </div>
        <div id="search" class="pull-right bar-btn box orivc" ng-controller="BarBtnCtrl">
            <div class="bar-btn-inner search-btn box orihc"></div>
        </div>
    </div>
</div>
<div id="navbarBody" class="navbar-body">
    <div></div>
</div>