/* app css stylesheet */
@font-face{
    font-family: 'IcoMoon';
    src: url('/fonts/icomoon.eot?') format('eot');/*IE*/
    src: url('/fonts/icomoon.woff') format('woff'), url('/fonts/icomoon.ttf') format('truetype');/*non-IE*/
}
html,body{
    overflow-x: hidden;
}
ul,ol{
    list-style: none;
    padding:0;
    margin:0;
}
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -ms-touch-action: none;
    -moz-user-select: -moz-none;
}
.box{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: -o-box;
    display: box;
}
.expand{
    position: absolute;
    width: 100%;
    height: 100%;
}
.orivc{
    -webkit-box-orient: vertical;
    -webkit-box-align: center;
    width: 100%
}
.orihc{
    height: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-align: center;
}

.orihc h1{
    margin:0px;
    color:#ffffff;
    font-size:28px;
}

.container-fluid{
    padding: 0 10px;
}
.clear{
    clear: both;
}

.split-line{
    height: 30px;
    position: relative;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-orient: horizontal;
}
.split-line .line{
    max-height: 1px;
    min-height: 1px;
    background-color: rgb(211, 211, 211);
    top: 50%;
    -webkit-box-flex: 1;
}
.split-line .txt{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGESURBVDhPlVTBaoNAEPWefkQ/oF9RKPTbCjnFm4mC6FkUJInEa6EH0UtPhV6DhghREJXG7TxZRaNGsjAwO/Pm7c7szArCyJJl+XWz2XyQfK7X6z8IdNjgG4vp2VRVXRBYJWEzQlB1MUpIp76QfIOAQMzzPBaGIauqqhbosMEHDLCI6ZEpivJMxiMAtm2zJEnY1IIPGE52RGxLRsYtHIfDoRefZRkzTZOVZTngBZanv62JJEl6h0HTtEFAmqY1uCiKARHIEQM/OARSVtgEQTAA3yMCGDH8ViuBauNjcz6fHyZCDK+VjxuV2Fyv14eJkDInuuBGl6k6zKWGOvHU0rup5XnOLMtihmHUr9cVx3HqcnRTmyw2ckULnE6ngcRx3C928/y6ro/2y1RjIi3EtM+PXmoa0nXdyY6+dQDba0gQ8RGJ4NjtdrMjst/vm9pEvREBGQaQiH6aofV9n0VR1F4EOmzN0BLudzC0zdA98o2Iovg0+y/RA7zRiUuSr86/BH0J3xjBPytPlMQxlu/WAAAAAElFTkSuQmCC);
    padding: 0px 5px;
    padding-left: 25px;
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: 5px 0px;
    max-height: 15px;
    min-height: 15px;
    -webkit-box-flex: 0;
    font-size: 10px;
    line-height: 15px;
}

.carousel-inner{
    -webkit-box-orient: horizontal;
    display: -webkit-box;
}
.carousel-inner > .item{
    width: 65%;
    border: #dbdbdb 1px solid;
    margin: 10px;
}

.data-grid{
    -webkit-box-orient: horizontal;
    display: -webkit-box;
}
.data-grid .col{
    -webkit-box-flex:1;
}
.data-grid .col .row{
    -webkit-box-orient: horizontal;
    display: -webkit-box;
}
.data-grid .col .row .name{
    text-align: right;
    -webkit-box-flex:1;
    max-width: 80px;
    min-width: 80px;
}
.data-grid .col .row .value{
    text-align: left;
    -webkit-box-flex:1;
}













.bar-btn{
    height: 100%;
    width: 40px;
    line-height: 40px;
    color: white;
    font-size: 18px;
    font-family: "IcoMoon";
}
.bar-btn-pressing{
    background-color: red;
}
.menu-btn:before{
    content: "!";
}
.search-btn:before{
    content: '"';
}
.small-loading{
    width: 40px;
    height: 40px;
    margin: 10px auto;
    position: relative;
}
.small-loading:before{
    position: absolute;
    content: '#';
    font-family: 'IcoMoon';
    font-size: 32px;
    -webkit-animation: loadMore 1s infinite linear;
    -webkit-transform: rotateZ(0deg);
}
.loading{
    position: fixed;
    top: 40px;
    width: 100%;
    height: 0;
    background: #b3b3b3;
    z-index: 3;
}
.navbar{
    height:40px;
    min-height:40px;
    margin:0;
    padding:0;
}
.navbar-inner{
    left:0;
    right:0;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0;
    z-index: 2;
    -webkit-transform: translate(0,0);
    background-color: #222222;
}
.nav-body{
    left:0;
    right:0;
    top: 40px;
    position: absolute;
    z-index: 1;
    background: lightblue;
    -webkit-box-shadow: #333 0 0 5px 2px;
    display: none;
    /*-webkit-transition: -webkit-transform .3s ease-in-out;*/
    /*-webkit-transform: translateY(-100%);*/
}
.nav-body-show{
    /*-webkit-transform: translateY(0);*/
    display: block;
}
.searchView{
    position: fixed;
    height: 100%;
    background: #F7F7F9;
    top: 0;
    left: 100%;
    width: 100%;
    -webkit-transition: left .3s ease-in-out;
}
.searchView-show{
    left: 0;
}
#menuView{
    display: none;
}
.menu-inner{
}
.menu-inner ul li{
    float: left;
    width: 50%;
    padding: 10px;
}
.menu-inner ul li .item{
    text-align: center;
    height: 28px;
    background-color: #3a87ad;
    line-height: 28px;
    color: white;
    display: block;
}
.menu-inner ul li .item-on{
    background-color: khaki;
    color: #999;
}


.bodyview{
    padding-top: 40px;
    min-height: 100%;
}
.body-item{
    display: none;
}


.index-list{}
.index-list li{
    padding: 5px;
}
.index-list li:ACTIVE{
    background-color: #e7e7e7;
}
.index-list li img{
     width: 100%;
 }
.index-list li p{
    text-align: center;
}
.index-load-more{
    position: relative;
    line-height: 40px;
    text-align:center;
    margin: 5px;
    border: #999 1px solid;
}
.index-load-more:before{
    position: absolute;
    font-family: 'IcoMoon';
    content: ' ';
    margin-left: -20px;
    -webkit-animation: loadMore 1s infinite linear;
    -webkit-animation-play-state: paused;
    -webkit-transform: rotateZ(0deg);
}
.index-load-more-run{}
.index-load-more-run:before{
    content:'#';
    -webkit-animation-play-state: running;
}
.index-load-more-pressing{
    background-color: darkgray;
    color: white;
}
.brand-indexes-pack{
    position: fixed;
    top:40px;
    width: 40px;
    color: gray;
}
@-webkit-keyframes loadMore{
    0%{
        -webkit-transform: rotateZ(0deg);
    }
    100%{
        -webkit-transform: rotateZ(360deg);
    }
}

.brand-indexes{
}

.brand-indexes li{
    line-height: 40px;
    text-align: center;
    margin: 2px;
    border: gray 1px solid;
}
.brand-indexes-pressing{
    background-color: gray;
    color: white;
}

.brand-items-pack{
    margin-left: 40px;
}
.brand-items-pack ul li{
    margin: 0 8px;
    border-bottom: #999 1px solid;
    padding: 8px 5px;
}
.article{
    padding: 5px;
}
.article .topImg{
    width: 100%;
}
.article ul li{
    text-align: center;
}
.article ul p{
    text-align: left;
}
.article ul li img{
    width: 200px;
    border: #dbdbdb 1px solid;
}
.article .title{
    color: #db4e5c;
    line-height: 40px;
    margin:0;
}
.article h6{
    text-align: center;
}

.proDetail{
    padding: 5px;
}
.split-line .pinglunicon{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAEeSURBVEhLY2CgB7gTGBd4JzD20t3AuN9A/J9C/BtkFshMsNshhsf9+3bh8v9/f/78pxSAzACZBTITbMmdgNiLIAFqA7AlQLMZQMFCDZejOxBkJshskAXUdjzcPJDZoxbgDd7RICKY+oZJEN0JiPvz/+9fgt4lWQHQTJDZDHcDYq98v3qDZP2ENIDMvBsQdxlYmsZEvOyd9v/7tZuE9BAtDzILZCbIbEiRHRQbBfTJLUL1wNPq1v+fDx9Hsej1zAWY9QfQLJCZJNdl94Li7IBl/LsPW3eBLfn79RswGGI/kGwQPg33A2I1gTXW/Xcr19PGApDl90PjJYARePbtwhXU9wHMd1dCQ3mAwbOd6kGEHHz77e1ZgNViH1XjgFTDAFCLCe9RSUleAAAAAElFTkSuQmCC);
}
.comment-list{
    padding: 5px;
}
.comment-list li{
    margin: 10px 0;
}
.comment-list header img{
    border-radius: 13px;
    width: 25px;
    height: 25px;
    background-size: 25px 25px !important;
}
.comment-list header small{
    color: #747474;
    margin-left: 5px;
}
.comment-list .zan{
    float: right;
    padding-left: 20px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAVCAYAAABc6S4mAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAIMSURBVEhLpZTBbtpAFEW96T5SfoA9m34CC7aWssyyq1YqbaFJFFKUCKq2mGCKgQRoSFSbJoG2aQTql/AJbLLnC97tzPMYhimEJFzpiJk7972xx8bWYwR/kCB/OIY/RMigoJbWl2gWw/cBTNTy+sLFbSAAnd+O1RwSXlxXaIur7/yB4gV7as6BdYX270AAav/iq5eSc4maPl1o/twSgDnth1d/0k9EHoeeKnhXz1G/nqDRA9WvR8q2qN7LhF5vekePFjx/g7yrkdgE8C4n8PoxtSQ3DqRP3uVQWcuFShfzBIH0ye3WZt6PLQ4rkRuM5muW4HYLFo59mMgm0ZhKfo27atKzq7BQvIAJN9HGDxWVOnH6fG5LpvX41IGJDOvjh4iKJ5tRc94gqkehDRNZoI9XCWdnz5BvJenjN5vJt/5yfb41sXDUhAkXaeNVosPTOB01bcWN1ks85FwDJrJIH98nOhBHk6vbzIdGTuvDb6OFbA0mus+hJcJLcTQH1SRlqzbt17Yp693JGvE7RtrbCEN7VZjoPoeWiParcdoVzSV7X2+mPXa9hIqIRjsVmOg+hxaIUsVNyrg2s1PJRXl6787/b5Auw2SRT+ljcdvl8GMnjyZTTnLzd+42pct3s4w6mkh4W4JJ6DuFRWv3knJmRxNJmHJhxmsnfPqa8MqJSf+/rIJSzhhvvsx9r0JZ1j9qP9XMUdW9cwAAAABJRU5ErkJggg==);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 12px 11px;
}
.comment-list .starLevel{
    display: inline-block;
    width: 100px;
    background: red;
}



#search-field{
    position: absolute;
    /*margin: 120px 5px 40px 5px;*/
    top:110px;
    bottom:40px;
    left:0px;
    right:0px;
}
#search-field .tab-pane{
    width:100%;
    height:100%;
    overflow:hidden;
}







