<div id="navBody" class="nav-body">
    <div id="navBody-menu" class="menu">
        <div class="menu-inner">
            <ul class="navIndex">
                <li>
                    <a data-analy='Model->{"name":"nav-item","data":{"name":"index"}}'
                       href="#index" class="menu-index"><%=i18n.index_name%></a>
                </li>
                <li>
                    <a data-analy='Model->{"name":"nav-item","data":{"name":"brand"}}'
                       href="#brand" class="menu-brand"><%=i18n.brand_name%></a>
                </li>
                <li>
                    <a data-analy='Model->{"name":"nav-item","data":{"name":"sort"}}'
                       href="#sort" class="menu-sort"><%=i18n.classify_name%></a>
                </li>
                <li>
                    <a data-analy='Model->{"name":"nav-item","data":{"name":"effect"}}'
                       href="#effect" class="menu-effect"><%=i18n.effect_name%></a>
                </li>
                <li>
                    <a data-analy='Model->{"name":"nav-item","data":{"name":"login"}}'
                       href="#login" class="menu-login"><%=i18n.login_name%></a>
                </li>
            </ul>
        </div>
        <div class="menu-logo"></div>
    </div>
    <div id="search-view" class="search">
        <div class="head">
            <form action="/#productList/s=keyword&t=pswy">
                <input type="search" placeholder="<%=i18n.search_name%>"/>
            </form>
            <a class="submit-btn" href="#productList/s=keyword&t=pswy"><%=i18n.search_name%></a>
        </div>
    </div>
    <div id="filter" class="filter">
        <div class="seg-btn">
            <a href="javascript:void(0)" rel-filter-id="filter-brand"><%=i18n.brand_name%></a>
            <a href="javascript:void(0)" rel-filter-id="filter-classify"><%=i18n.classify_name%></a>
            <a href="javascript:void(0)" rel-filter-id="filter-effect"><%=i18n.effect_name%></a>
            <a href="javascript:void(0)" rel-filter-id="filter-sort"><%=i18n.sort_name%></a>
        </div>
        <div class="selected-pack">
            <a data-flt-sele="brand" class="selected-pack-item filter-close-btn"></a>
            <a data-flt-sele="classify" class="selected-pack-item filter-close-btn"></a>
            <a data-flt-sele="effect" class="selected-pack-item filter-close-btn"></a>
        </div>
        <div class="seg-div">
            <div id="filter-brand" class="seg-item" style="display: block;">

            </div>
            <div id="filter-classify" class="seg-item">
                <div class="list-pack"></div>
                <ul class="slide-bar"></ul>
            </div>
            <div id="filter-effect" class="seg-item">
            </div>
            <div id="filter-sort" class="seg-item">
                <dl>
                    <dt><%=i18n.commentNum_txt%></dt>
                    <dd><a href="javascript:void(0)" data-sort-id="3" class="start"><%=i18n.sort_moreToLess%></a>
                        <a href="javascript:void(0)" data-sort-id="-1" class="middle on"></a>
                        <a href="javascript:void(0)" data-sort-id="4" class="end"><%=i18n.sort_lessToMore%></a></dd>
                </dl>
                <dl>
                    <dt><%=i18n.level_txt%></dt>
                    <dd><a href="javascript:void(0)" data-sort-id="1" class="start"><%=i18n.sort_highToLow%></a>
                        <a href="javascript:void(0)" data-sort-id="-1" class="middle on"></a>
                        <a href="javascript:void(0)" data-sort-id="2" class="end"><%=i18n.sort_lowToHigh%></a></dd>
                </dl>
                <dl>
                    <dt><%=i18n.price_txt%></dt>
                    <dd><a href="javascript:void(0)" data-sort-id="5" class="start"><%=i18n.sort_highToLow%></a>
                        <a href="javascript:void(0)" data-sort-id="-1" class="middle on"></a>
                        <a href="javascript:void(0)" data-sort-id="6" class="end"><%=i18n.sort_lowToHigh%></a></dd>
                </dl>
            </div>
        </div>
        <a class="submit-btn"><%=i18n.ok_txt%></a>
    </div>
</div>
<div id="navBar" class="navbar">
    <div class="navbar-inner">
        <div data-title="1" class="title"></div>

        <div class="expand">
            <a href="javascript:void(0)" data-analy='Model->{"name":"menu-btn"}' id="menu"
               class="pull-left bar-btn menu-btn box orivc"></a>
            <a href="javascript:void(0)" data-analy='Model->{"name":"search-btn"}' id="search"
               class="pull-right bar-btn search-btn box orivc"></a>
        </div>
    </div>
    <div class="brand-seg"></div>
    <div class="sort-seg"></div>
</div>
<div id="brand-indexes-pack" class="brand-indexes-pack"></div>
<div id="sort-indexes-pack" class="sort-indexes-pack"></div>
<div id="body" class="body-view">
    <div id="loading" class="loading">
        <div class="loading-v">
            <div class="loading-h loading-txt">
                <div class="loading-box loading-img"></div>
            </div>
        </div>
    </div>
    <div id="body-mask" class="body-mask"></div>
    <div id="indexView" class="body-item">
    </div>
    <div id="brandView" class="body-item brand">
        <div class="brand-all">
            <div class="brand-items-pack"></div>
        </div>
        <div class="brand-hot"></div>
    </div>
    <div id="sortView" class="body-item sort">
        <div class="sort-all">
            <div class="sort-items-pack"></div>
        </div>
        <ul class="sort-hot"></ul>
    </div>
    <div id="article" class="body-item article"></div>
    <div id="effectView" class="body-item effect"></div>
    <div id="loginView" class="body-item effect"></div>
    <div id="proDetail" class="body-item proDetail"></div>
    <div id="productList" class="body-item productList"></div>
    <ul id="comments" class="body-item comment-list"></ul>
</div>
<div id="btm-toolbar" class="btm-toolbar">
    <a href="javascript:void(0)" data-analy='Model->{"name":"back-btn"}' id="back-btn" class="back-btn"></a>
    <a href="javascript:void(0)" data-analy='Model->{"name":"filter-btn"}' id="filter-btn" class="filter-btn"></a>
</div>