<div class="top_ad" id="top_ad"></div>
<div class="overlay_ad" id="overlay_ad"></div>
<ul class="index-title">
    <li>
        <a data-analy='Model->{"name":"index-night_9"}'
           class="nightIcon" href="http://9night.kimiss.com/" target="_blank"><%=i18n.night_9%></a>
    </li>
    <li>
        <a data-analy='Model->{"name":"index-tyTuan"}'
           class="tuanIcon" href="http://try.kimiss.com/" target="_blank"><%=i18n.tyTuan%></a>
    </li>
    <li>
        <a data-analy='Model->{"name":"index-xinpin"}'
           class="xinpinIcon" href="#productList/s=7&t=pst"><%=i18n.xinpin%></a>
    </li>
    <li>
        <a data-analy='Model->{"name":"index-mianmo"}'
           class="mianmoIcon" href="#productList/s=2068&t=pcdy"><%=i18n.mianmo%></a>
    </li>
    <li>
        <a data-analy='Model->{"name":"index-jinghua"}'
           class="jinghuaIcon" href="#productList/s=2072&t=pcdy"><%=i18n.jinghua%></a>
    </li>
    <li>
        <a data-analy='Model->{"name":"index-yanshuang"}'
           class="yanshuangIcon" href="#productList/s=902&t=pcdy"><%=i18n.yanshuang%></a>
    </li>
    <li>
        <a data-analy='Model->{"name":"index-meibai"}'
           class="meibaiIcon" href="#productList/s=2488&t=pfdy"><%=i18n.meibai%></a>
    </li>
    <li>
        <a data-analy='Model->{"name":"index-qudou"}'
           class="qudouIcon" href="#productList/s=2556&t=pfdy"><%=i18n.qudou%></a>
    </li>
    <li>
        <a data-analy='Model->{"name":"index-shoushen"}'
           class="shoushenIcon" href="#productList/s=272&t=pfdy"><%=i18n.shoushen%></a>
    </li>
    <li>
        <a data-analy='Model->{"name":"index-more"}'
           class="moreIcon" href="#sort/all"><%=i18n.more_txt%></a>
    </li>
    <div class="clear"></div>
</ul>